.welcome-text {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #8d8d8d;
    margin-bottom: 10px;
}

body {
    background: #f4f5f7;
}

.totalOrders {
    text-align: right;
    border-radius: 15px;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

#cards {
    border-style: hidden;
}

.totalUsers {
    text-align: right;
    border-radius: 15px;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.totalRestaurants {
    text-align: right;
    border-radius: 15px;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.totalEarnings{
    text-align: right;
    border-radius: 15px;
    background-color: #8BC6EC;
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

canvas {
    border: 1px dotted red;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

/* Add your custom styles here */
@media (min-width: 768px) {
    /* Larger screens */
    #myChart {
        max-width: 100%;
        height: auto;
    }

    .chart-container {
        max-width: 500px; /* Set your desired maximum width */
        margin-left: 100px;
    }
}

@media (max-width: 767.98px) {
    /* Smaller screens (tablets and below) */
    #myChart {
        width: 100%;
        height: 300px; /* Set your desired height */
    }
}