/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}
/* Cart css starts */
.items {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.left img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.name {
    margin-left: 20px;
}

.quantity {
    display: flex;
    align-items: center;
}

.input-text {
    width: 40px;
    text-align: center;
    margin: 0 10px;
}

.buttons_added {
    margin-bottom: 10px;
}

/* CSS for input number arrows */
.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.plus,
.minus {
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    text-align: center;
    font-size: 24px;
    line-height: 0px;
}

.plus:hover,
.minus:hover {
    background: #e6e6e6;
}

.cartout {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.subtotal,
.tax,
.coupon-code,
.grand-total {
    margin-bottom: 10px;
}

.grand-total {
    font-weight: bold;
}
